<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="BrokerUrl" value="127.0.0.1:3883" />
    <add key="TsdbServer" value="http://localhost:8086" />
    <add key="ConnectionString" value="Server=.\SQLEXPRESS;Database=Collect;Trusted_Connection=True; Connection Timeout=3" />
    <add key="LogLevel" value="Debug" />
    <add key="LaunchWebServer" value="true"/>
    <add key="LaunchInfluxDb" value="true"/>
    <add key="AppsToRun" value="CloudSynchIIoTNext,TagProcessing"/>
    <add key="InfluxVersion" value="1.8.3-1"/>
    <add key="IsInfluxDBLogEnabled" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
