body {
  background-color: #ffffff;
}
.headerContainer {
  padding-left: 15px;
}
.tabContentarea {
  flex-grow: 1;
  padding: 15px;
  margin-top: 50px;
}
// New header

.topHeader {
  background-size: cover;
  width: 100%;
  height: 50px;
  right: 0;
  background-size: cover;
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: fixed;
  z-index: 978;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  a {
    position: relative;

    img {
      width: 60px;
      padding: 10px 10px 10px 15px;
    }
  }

  .avatar-right{  
    padding: 8px 20px 0px 0;
    float: right!important;
    .MuiAvatar-root{
      width: 33px;
      height: 33px;
      cursor: pointer;
    }

    .MuiAvatar-root:hover{
      background-color: #1389dc;
    }

  }
}


.topHeader:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #2f4977, #43596800 47%, #00000003 31%);
}

.homeRightContainer {
  width: calc(100% - 70px);
  padding-left: 70px;
  background: #eaeaea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggleMenu .homeRightContainer {
  min-height: 100vh;
  width: calc(100% - 130px);
  margin-left: 130px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}


.versionInfo {
  position: absolute;
  bottom: 55px;
  text-align: left;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding-left: 17px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  p {
    margin: 0;
    color: #1389dc;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
  }
}
